<?xml version="1.0"?>
<robot name="waybionic">

  <link name="world"/>
  <link name="base_link"/>
  <joint name="world_to_base" type="fixed">
    <parent link="world"/><child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="baseToShoulder_01">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_2WireSlipRing-2-wire-slipring-1_2WireSli_.step-1_rotor.step-1_rotator-base.step-1-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_2WireSlipRing-2-wire-slipring-1_2WireSli_.step-1_rotor.step-1_rotator-base.step-1-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_baseToShoulder_01" type="fixed">
    <parent link="base_link"/><child link="baseToShoulder_01"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="baseToShoulder_02">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_2WireSlipRing-2-wire-slipring-1_2WireSli_.step-1_stator.step-1_stator_body.step-1-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_2WireSlipRing-2-wire-slipring-1_2WireSli_.step-1_stator.step-1_stator_body.step-1-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_baseToShoulder_02" type="fixed">
    <parent link="base_link"/><child link="baseToShoulder_02"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="baseToShoulder_03">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_2WireSlipRing-2-wire-slipring-1_2WireSli_rotor.step-1_negative-rotor-wire.step-1-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_2WireSlipRing-2-wire-slipring-1_2WireSli_rotor.step-1_negative-rotor-wire.step-1-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_baseToShoulder_03" type="fixed">
    <parent link="base_link"/><child link="baseToShoulder_03"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="baseToShoulder_04">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_2WireSlipRing-2-wire-slipring-1_2WireSli_rotor.step-1_positive-rotor-wire.step-1-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_2WireSlipRing-2-wire-slipring-1_2WireSli_rotor.step-1_positive-rotor-wire.step-1-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_baseToShoulder_04" type="fixed">
    <parent link="base_link"/><child link="baseToShoulder_04"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="baseToShoulder_05">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_2WireSlipRing-2-wire-slipring-1_2WireSli_tator.step-1_negative-stator-wire.step-1-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_2WireSlipRing-2-wire-slipring-1_2WireSli_tator.step-1_negative-stator-wire.step-1-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_baseToShoulder_05" type="fixed">
    <parent link="base_link"/><child link="baseToShoulder_05"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="baseToShoulder_06">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_2WireSlipRing-2-wire-slipring-1_2WireSli_tator.step-1_positive-stator-wire.step-1-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_2WireSlipRing-2-wire-slipring-1_2WireSli_tator.step-1_positive-stator-wire.step-1-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_baseToShoulder_06" type="fixed">
    <parent link="base_link"/><child link="baseToShoulder_06"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="baseToShoulder_07">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_6656K153_Ultra-Thin_Ball_Bearing-1-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_6656K153_Ultra-Thin_Ball_Bearing-1-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_baseToShoulder_07" type="fixed">
    <parent link="base_link"/><child link="baseToShoulder_07"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="baseToShoulder_08">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_6656K153_Ultra-Thin_Ball_Bearing-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_6656K153_Ultra-Thin_Ball_Bearing-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_baseToShoulder_08" type="fixed">
    <parent link="base_link"/><child link="baseToShoulder_08"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="baseToShoulder_09">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_Stepper-1-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_Stepper-1-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_baseToShoulder_09" type="fixed">
    <parent link="base_link"/><child link="baseToShoulder_09"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="baseToShoulder_10">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_Stepper-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_Stepper-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_baseToShoulder_10" type="fixed">
    <parent link="base_link"/><child link="baseToShoulder_10"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="baseToShoulder_11">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_carrier_1-changedDimensionsMar21-1-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_carrier_1-changedDimensionsMar21-1-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_baseToShoulder_11" type="fixed">
    <parent link="base_link"/><child link="baseToShoulder_11"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="baseToShoulder_12">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_carrier_1-changedDimensionsMar21-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_carrier_1-changedDimensionsMar21-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_baseToShoulder_12" type="fixed">
    <parent link="base_link"/><child link="baseToShoulder_12"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="baseToShoulder_13">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_outer_ring_newDimensionsMar21-5-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_outer_ring_newDimensionsMar21-5-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_baseToShoulder_13" type="fixed">
    <parent link="base_link"/><child link="baseToShoulder_13"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="baseToShoulder_14">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_outer_ring_newDimensionsMar21-5.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_outer_ring_newDimensionsMar21-5.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_baseToShoulder_14" type="fixed">
    <parent link="base_link"/><child link="baseToShoulder_14"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="baseToShoulder_15">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_planetShafts-1-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_planetShafts-1-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_baseToShoulder_15" type="fixed">
    <parent link="base_link"/><child link="baseToShoulder_15"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="baseToShoulder_16">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_planetShafts-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_planetShafts-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_baseToShoulder_16" type="fixed">
    <parent link="base_link"/><child link="baseToShoulder_16"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="baseToShoulder_17">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_planetShafts-2-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_planetShafts-2-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_baseToShoulder_17" type="fixed">
    <parent link="base_link"/><child link="baseToShoulder_17"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="baseToShoulder_18">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_planetShafts-2.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_planetShafts-2.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_baseToShoulder_18" type="fixed">
    <parent link="base_link"/><child link="baseToShoulder_18"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="baseToShoulder_19">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_planetShafts-3-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_planetShafts-3-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_baseToShoulder_19" type="fixed">
    <parent link="base_link"/><child link="baseToShoulder_19"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="baseToShoulder_20">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_planetShafts-3.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_planetShafts-3.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_baseToShoulder_20" type="fixed">
    <parent link="base_link"/><child link="baseToShoulder_20"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="baseToShoulder_21">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_planetShafts-4-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_planetShafts-4-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_baseToShoulder_21" type="fixed">
    <parent link="base_link"/><child link="baseToShoulder_21"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="baseToShoulder_22">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_planetShafts-4.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_planetShafts-4.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_baseToShoulder_22" type="fixed">
    <parent link="base_link"/><child link="baseToShoulder_22"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="baseToShoulder_23">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_spur_gear_iso-1-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_spur_gear_iso-1-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_baseToShoulder_23" type="fixed">
    <parent link="base_link"/><child link="baseToShoulder_23"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="baseToShoulder_24">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_spur_gear_iso-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_spur_gear_iso-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_baseToShoulder_24" type="fixed">
    <parent link="base_link"/><child link="baseToShoulder_24"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="baseToShoulder_25">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_spur_gear_iso-2-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_spur_gear_iso-2-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_baseToShoulder_25" type="fixed">
    <parent link="base_link"/><child link="baseToShoulder_25"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="baseToShoulder_26">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_spur_gear_iso-2.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_spur_gear_iso-2.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_baseToShoulder_26" type="fixed">
    <parent link="base_link"/><child link="baseToShoulder_26"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="baseToShoulder_27">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_spur_gear_iso-3-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_spur_gear_iso-3-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_baseToShoulder_27" type="fixed">
    <parent link="base_link"/><child link="baseToShoulder_27"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="baseToShoulder_28">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_spur_gear_iso-3.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_spur_gear_iso-3.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_baseToShoulder_28" type="fixed">
    <parent link="base_link"/><child link="baseToShoulder_28"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="baseToShoulder_29">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_spur_gear_iso-4-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_spur_gear_iso-4-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_baseToShoulder_29" type="fixed">
    <parent link="base_link"/><child link="baseToShoulder_29"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="baseToShoulder_30">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_spur_gear_iso-4.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_spur_gear_iso-4.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_baseToShoulder_30" type="fixed">
    <parent link="base_link"/><child link="baseToShoulder_30"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="baseToShoulder_31">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_spur_gear_iso-5-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_spur_gear_iso-5-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_baseToShoulder_31" type="fixed">
    <parent link="base_link"/><child link="baseToShoulder_31"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="baseToShoulder_32">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_spur_gear_iso-5.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/baseToShoulder-newDim-Mar24-stl_-_spur_gear_iso-5.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_baseToShoulder_32" type="fixed">
    <parent link="base_link"/><child link="baseToShoulder_32"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="carrier_to_pulley_01">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/carrier_to_pulley_feb28-stl_-_3rd_Joint_Pulley_V1_HT_20250927-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/carrier_to_pulley_feb28-stl_-_3rd_Joint_Pulley_V1_HT_20250927-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_carrier_to_pulley_01" type="fixed">
    <parent link="base_link"/><child link="carrier_to_pulley_01"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="carrier_to_pulley_02">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/carrier_to_pulley_feb28-stl_-_3rd_Joint_V1_HT_20250920-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/carrier_to_pulley_feb28-stl_-_3rd_Joint_V1_HT_20250920-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_carrier_to_pulley_02" type="fixed">
    <parent link="base_link"/><child link="carrier_to_pulley_02"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="carrier_to_pulley_03">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/carrier_to_pulley_feb28-stl_-_GT2_x_6mm_Pully_5mm_Bore-pulley-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/carrier_to_pulley_feb28-stl_-_GT2_x_6mm_Pully_5mm_Bore-pulley-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_carrier_to_pulley_03" type="fixed">
    <parent link="base_link"/><child link="carrier_to_pulley_03"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="carrier_to_pulley_04">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/carrier_to_pulley_feb28-stl_-_Pipe-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/carrier_to_pulley_feb28-stl_-_Pipe-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_carrier_to_pulley_04" type="fixed">
    <parent link="base_link"/><child link="carrier_to_pulley_04"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="carrier_to_pulley_05">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/carrier_to_pulley_feb28-stl_-_Stepper-Pulley-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/carrier_to_pulley_feb28-stl_-_Stepper-Pulley-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_carrier_to_pulley_05" type="fixed">
    <parent link="base_link"/><child link="carrier_to_pulley_05"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="key_to_diff_01">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/key-to-diff-mar24-stl_-_GT2_60T_b5_6mm_-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/key-to-diff-mar24-stl_-_GT2_60T_b5_6mm_-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_key_to_diff_01" type="fixed">
    <parent link="base_link"/><child link="key_to_diff_01"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="key_to_diff_02">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/key-to-diff-mar24-stl_-_GT2_x_6mm_Pully_5mm_Bore-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/key-to-diff-mar24-stl_-_GT2_x_6mm_Pully_5mm_Bore-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_key_to_diff_02" type="fixed">
    <parent link="base_link"/><child link="key_to_diff_02"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="key_to_diff_03">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/key-to-diff-mar24-stl_-_GT2_x_6mm_Pully_5mm_Bore-2.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/key-to-diff-mar24-stl_-_GT2_x_6mm_Pully_5mm_Bore-2.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_key_to_diff_03" type="fixed">
    <parent link="base_link"/><child link="key_to_diff_03"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="key_to_diff_04">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/key-to-diff-mar24-stl_-_StepperHolderV2-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/key-to-diff-mar24-stl_-_StepperHolderV2-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_key_to_diff_04" type="fixed">
    <parent link="base_link"/><child link="key_to_diff_04"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="key_to_diff_05">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/key-to-diff-mar24-stl_-_another-Stepper-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/key-to-diff-mar24-stl_-_another-Stepper-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_key_to_diff_05" type="fixed">
    <parent link="base_link"/><child link="key_to_diff_05"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="key_to_diff_06">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/key-to-diff-mar24-stl_-_another-Stepper-2.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/key-to-diff-mar24-stl_-_another-Stepper-2.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_key_to_diff_06" type="fixed">
    <parent link="base_link"/><child link="key_to_diff_06"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="key_to_diff_07">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/key-to-diff-mar24-stl_-_arduino-uno-rough-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/key-to-diff-mar24-stl_-_arduino-uno-rough-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_key_to_diff_07" type="fixed">
    <parent link="base_link"/><child link="key_to_diff_07"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="key_to_diff_08">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/key-to-diff-mar24-stl_-_bottom-pvc-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/key-to-diff-mar24-stl_-_bottom-pvc-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_key_to_diff_08" type="fixed">
    <parent link="base_link"/><child link="key_to_diff_08"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="key_to_diff_09">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/key-to-diff-mar24-stl_-_keyed_shaft-updated-mar13-15mm-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/key-to-diff-mar24-stl_-_keyed_shaft-updated-mar13-15mm-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_key_to_diff_09" type="fixed">
    <parent link="base_link"/><child link="key_to_diff_09"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="key_to_diff_10">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/key-to-diff-mar24-stl_-_lid-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/key-to-diff-mar24-stl_-_lid-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_key_to_diff_10" type="fixed">
    <parent link="base_link"/><child link="key_to_diff_10"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="key_to_diff_11">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/key-to-diff-mar24-stl_-_revised-3rd_Joint_Top_key_hole_170126_-mar15-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/key-to-diff-mar24-stl_-_revised-3rd_Joint_Top_key_hole_170126_-mar15-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_key_to_diff_11" type="fixed">
    <parent link="base_link"/><child link="key_to_diff_11"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="key_to_diff_12">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/key-to-diff-mar24-stl_-_top-pvc-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/key-to-diff-mar24-stl_-_top-pvc-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_key_to_diff_12" type="fixed">
    <parent link="base_link"/><child link="key_to_diff_12"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="full_arm_jun13_elbow">
    <visual>
      <geometry><mesh filename="package://waybionic_description/meshes/full-arm-jun13-stl_-_90_degree_elbow_V4_NB-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="package://waybionic_description/meshes/full-arm-jun13-stl_-_90_degree_elbow_V4_NB-1.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="j_full_arm_jun13_elbow" type="fixed">
    <parent link="base_link"/><child link="full_arm_jun13_elbow"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

</robot>
