<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="waybionic_old_arm_visualization">
  <xacro:arg name="base_height" default="0.070"/>
  <xacro:arg name="shoulder_offset" default="0.025"/>
  <xacro:arg name="upper_arm_length" default="0.120"/>
  <xacro:arg name="forearm_length" default="0.050"/>
  <xacro:arg name="tool_inline" default="0.0"/>
  <xacro:arg name="base_zero_degrees" default="90.0"/>
  <xacro:arg name="shoulder_zero_degrees" default="125.0"/>
  <xacro:arg name="elbow_zero_degrees" default="151.5"/>
  <xacro:arg name="base_direction" default="1"/>
  <xacro:arg name="shoulder_direction" default="-1"/>
  <xacro:arg name="elbow_direction" default="1"/>
  <xacro:arg name="wrist_reference_degrees" default="27.5"/>
  <xacro:arg name="wrist_direction" default="1"/>

  <xacro:property name="base_height_m" value="$(arg base_height)"/>
  <xacro:property name="shoulder_offset_m" value="$(arg shoulder_offset)"/>
  <xacro:property name="upper_length_m" value="$(arg upper_arm_length)"/>
  <xacro:property name="forearm_length_m" value="$(arg forearm_length)"/>

  <material name="old_arm_print"><color rgba="0.86 0.85 0.76 1"/></material>
  <material name="old_arm_servo"><color rgba="0.65 0.045 0.09 1"/></material>
  <material name="old_arm_distal_servo"><color rgba="0.72 0.24 0.10 1"/></material>
  <material name="old_arm_cover"><color rgba="0.055 0.055 0.06 1"/></material>
  <material name="old_arm_metal"><color rgba="0.62 0.65 0.67 1"/></material>

  <xacro:macro name="visual_box" params="size xyz material rpy:='0 0 0'">
    <visual>
      <origin xyz="${xyz}" rpy="${rpy}"/>
      <geometry><box size="${size}"/></geometry>
      <material name="${material}"/>
    </visual>
  </xacro:macro>

  <xacro:macro name="visual_cylinder" params="radius length xyz material rpy:='0 0 0'">
    <visual>
      <origin xyz="${xyz}" rpy="${rpy}"/>
      <geometry><cylinder radius="${radius}" length="${length}"/></geometry>
      <material name="${material}"/>
    </visual>
  </xacro:macro>

  <xacro:macro name="printed_mesh" params="name xyz:='0 0 0' scale:='1 1 1'">
    <visual>
      <origin xyz="${xyz}"/>
      <geometry>
        <mesh filename="package://waybionic_description/meshes/old_arm/${name}.stl" scale="${scale}"/>
      </geometry>
      <material name="old_arm_print"/>
    </visual>
  </xacro:macro>

  <xacro:macro name="colored_box_link" params="name parent size xyz material">
    <joint name="${name}_mount" type="fixed">
      <parent link="${parent}"/>
      <child link="${name}"/>
      <origin xyz="${xyz}"/>
    </joint>
    <link name="${name}">
      <xacro:visual_box size="${size}" xyz="0 0 0" material="${material}"/>
    </link>
  </xacro:macro>

  <xacro:macro name="display_limits" params="minimum maximum zero direction">
    <xacro:property name="first_endpoint" value="${radians((minimum - zero) / direction)}"/>
    <xacro:property name="second_endpoint" value="${radians((maximum - zero) / direction)}"/>
    <limit lower="${min(first_endpoint, second_endpoint)}"
      upper="${max(first_endpoint, second_endpoint)}" effort="0" velocity="0"/>
  </xacro:macro>

  <xacro:macro name="pitch_horn" params="name parent xyz">
    <joint name="${name}_mount" type="fixed">
      <parent link="${parent}"/>
      <child link="${name}"/>
      <origin xyz="${xyz}"/>
    </joint>
    <link name="${name}">
      <xacro:visual_box size="0.031 0.003 0.006" xyz="0 0 0" material="old_arm_cover"/>
      <xacro:visual_box size="0.006 0.003 0.031" xyz="0 0 0" material="old_arm_cover"/>
      <xacro:visual_cylinder radius="0.006" length="0.004" xyz="0 0 0"
        rpy="${pi / 2} 0 0" material="old_arm_cover"/>
    </link>
  </xacro:macro>

  <xacro:macro name="servo_screws" params="name parent along lateral half_length half_width">
    <joint name="${name}_mount" type="fixed">
      <parent link="${parent}"/>
      <child link="${name}"/>
    </joint>
    <link name="${name}">
      <xacro:visual_cylinder radius="0.0025" length="0.003"
        xyz="${along - half_length} ${lateral} ${-half_width}"
        rpy="${pi / 2} 0 0" material="old_arm_metal"/>
      <xacro:visual_cylinder radius="0.0025" length="0.003"
        xyz="${along + half_length} ${lateral} ${-half_width}"
        rpy="${pi / 2} 0 0" material="old_arm_metal"/>
      <xacro:visual_cylinder radius="0.0025" length="0.003"
        xyz="${along - half_length} ${lateral} ${half_width}"
        rpy="${pi / 2} 0 0" material="old_arm_metal"/>
      <xacro:visual_cylinder radius="0.0025" length="0.003"
        xyz="${along + half_length} ${lateral} ${half_width}"
        rpy="${pi / 2} 0 0" material="old_arm_metal"/>
    </link>
  </xacro:macro>

  <link name="old_arm_base_link">
    <xacro:printed_mesh name="base_plate"/>
    <xacro:visual_cylinder radius="0.017" length="0.050"
      xyz="-0.065 -0.075 -0.041" material="old_arm_print"/>
    <xacro:visual_cylinder radius="0.017" length="0.050"
      xyz="-0.065 0.075 -0.041" material="old_arm_print"/>
    <xacro:visual_cylinder radius="0.017" length="0.050"
      xyz="0.105 -0.075 -0.041" material="old_arm_print"/>
    <xacro:visual_cylinder radius="0.017" length="0.050"
      xyz="0.105 0.075 -0.041" material="old_arm_print"/>
  </link>

  <xacro:colored_box_link name="old_arm_base_servo_body" parent="old_arm_base_link"
    size="0.056 0.028 0.038" xyz="-0.012 0 -0.031" material="old_arm_servo"/>
  <xacro:colored_box_link name="old_arm_base_servo_cover" parent="old_arm_base_link"
    size="0.056 0.028 0.007" xyz="-0.012 0 -0.0535" material="old_arm_cover"/>

  <joint name="old_arm_base_yaw_joint" type="revolute">
    <parent link="old_arm_base_link"/>
    <child link="old_arm_shoulder_mount"/>
    <axis xyz="0 0 1"/>
    <xacro:display_limits minimum="0.0" maximum="270.0"
      zero="$(arg base_zero_degrees)" direction="$(arg base_direction)"/>
  </joint>

  <link name="old_arm_shoulder_mount">
    <xacro:visual_cylinder radius="0.049" length="0.008"
      xyz="0 0 0.002" material="old_arm_print"/>
    <xacro:visual_box size="0.060 0.082 0.007"
      xyz="${shoulder_offset_m} 0 0.0095" material="old_arm_print"/>
    <xacro:printed_mesh name="shoulder_motor_plate"
      xyz="${shoulder_offset_m} 0.034 ${base_height_m}"
      scale="1 1 ${(base_height_m - 0.012) / 0.058}"/>
    <xacro:printed_mesh name="shoulder_back_plate"
      xyz="${shoulder_offset_m} -0.034 ${base_height_m}"
      scale="1 1 ${(base_height_m - 0.012) / 0.058}"/>
  </link>

  <xacro:colored_box_link name="old_arm_shoulder_servo_body" parent="old_arm_shoulder_mount"
    size="0.035 0.034 0.062" xyz="${shoulder_offset_m} 0.054 ${base_height_m - 0.025}"
    material="old_arm_servo"/>
  <xacro:colored_box_link name="old_arm_shoulder_servo_cover" parent="old_arm_shoulder_mount"
    size="0.035 0.007 0.062" xyz="${shoulder_offset_m} 0.0745 ${base_height_m - 0.025}"
    material="old_arm_cover"/>

  <joint name="old_arm_shoulder_pitch_joint" type="revolute">
    <parent link="old_arm_shoulder_mount"/>
    <child link="old_arm_upper_arm"/>
    <origin xyz="${shoulder_offset_m} 0 ${base_height_m}"/>
    <axis xyz="0 -1 0"/>
    <xacro:display_limits minimum="0.0" maximum="112.5"
      zero="$(arg shoulder_zero_degrees)" direction="$(arg shoulder_direction)"/>
  </joint>

  <link name="old_arm_upper_arm">
    <xacro:printed_mesh name="upper_arm_plate" xyz="0 -0.050 0"
      scale="${upper_length_m / 0.120} 1 1"/>
    <xacro:printed_mesh name="upper_arm_plate" xyz="0 0.050 0"
      scale="${upper_length_m / 0.120} 1 1"/>
    <xacro:visual_box size="0.012 0.095 0.008"
      xyz="${upper_length_m / 3} 0 -0.026" material="old_arm_print"/>
    <xacro:visual_box size="0.012 0.095 0.008"
      xyz="${upper_length_m * 2 / 3} 0 -0.026" material="old_arm_print"/>
  </link>

  <xacro:pitch_horn name="old_arm_shoulder_horn" parent="old_arm_upper_arm" xyz="0 -0.057 0"/>
  <xacro:colored_box_link name="old_arm_elbow_servo_body" parent="old_arm_upper_arm"
    size="0.060 0.034 0.034" xyz="${upper_length_m - 0.027} 0.070 0"
    material="old_arm_servo"/>
  <xacro:colored_box_link name="old_arm_elbow_servo_cover" parent="old_arm_upper_arm"
    size="0.060 0.007 0.034" xyz="${upper_length_m - 0.027} 0.0905 0"
    material="old_arm_cover"/>
  <xacro:servo_screws name="old_arm_elbow_cover_screws" parent="old_arm_upper_arm"
    along="${upper_length_m - 0.027}" lateral="0.0955" half_length="0.027" half_width="0.014"/>

  <joint name="old_arm_elbow_pitch_joint" type="revolute">
    <parent link="old_arm_upper_arm"/>
    <child link="old_arm_forearm"/>
    <origin xyz="${upper_length_m} 0 0"/>
    <axis xyz="0 -1 0"/>
    <xacro:display_limits minimum="90.0" maximum="270.0"
      zero="$(arg elbow_zero_degrees)" direction="$(arg elbow_direction)"/>
  </joint>

  <link name="old_arm_forearm">
    <xacro:printed_mesh name="wrist_housing" scale="${forearm_length_m / 0.050} 1 1"/>
  </link>

  <xacro:pitch_horn name="old_arm_elbow_horn" parent="old_arm_forearm" xyz="0 -0.057 0"/>
  <xacro:colored_box_link name="old_arm_wrist_servo_body" parent="old_arm_forearm"
    size="0.043 0.029 0.029" xyz="${forearm_length_m - 0.044} 0 -0.016"
    material="old_arm_servo"/>
  <xacro:colored_box_link name="old_arm_wrist_servo_cover" parent="old_arm_forearm"
    size="0.007 0.029 0.029" xyz="${forearm_length_m - 0.069} 0 -0.016"
    material="old_arm_cover"/>

  <joint name="old_arm_wrist_roll_joint" type="revolute">
    <parent link="old_arm_forearm"/>
    <child link="old_arm_wrist_roll"/>
    <origin xyz="${forearm_length_m} 0 0"/>
    <axis xyz="1 0 0"/>
    <xacro:display_limits minimum="0.0" maximum="270.0"
      zero="$(arg wrist_reference_degrees)" direction="$(arg wrist_direction)"/>
  </joint>

  <link name="old_arm_wrist_roll">
    <xacro:printed_mesh name="wrist_cage"/>
    <xacro:visual_cylinder radius="0.041" length="0.006"
      xyz="0.129 0 0" rpy="0 ${pi / 2} 0" material="old_arm_print"/>
    <xacro:visual_cylinder radius="0.0025" length="0.020"
      xyz="0.118 -0.023 -0.015" rpy="0 ${pi / 2} 0" material="old_arm_print"/>
    <xacro:visual_cylinder radius="0.0025" length="0.020"
      xyz="0.118 0.023 -0.015" rpy="0 ${pi / 2} 0" material="old_arm_print"/>
    <xacro:visual_cylinder radius="0.0025" length="0.020"
      xyz="0.118 -0.023 0.015" rpy="0 ${pi / 2} 0" material="old_arm_print"/>
    <xacro:visual_cylinder radius="0.0025" length="0.020"
      xyz="0.118 0.023 0.015" rpy="0 ${pi / 2} 0" material="old_arm_print"/>
    <xacro:visual_box size="0.017 0.006 0.025" xyz="0.139 -0.013 0" material="old_arm_print"/>
    <xacro:visual_box size="0.017 0.006 0.025" xyz="0.139 0.013 0" material="old_arm_print"/>
  </link>

  <xacro:colored_box_link name="old_arm_distal_left_servo" parent="old_arm_wrist_roll"
    size="0.041 0.026 0.039" xyz="0.083 0.052 0" material="old_arm_distal_servo"/>
  <xacro:colored_box_link name="old_arm_distal_right_servo" parent="old_arm_wrist_roll"
    size="0.041 0.026 0.039" xyz="0.083 -0.052 0" material="old_arm_distal_servo"/>
  <xacro:colored_box_link name="old_arm_distal_left_cover" parent="old_arm_distal_left_servo"
    size="0.041 0.007 0.039" xyz="0 0.0165 0" material="old_arm_cover"/>
  <xacro:colored_box_link name="old_arm_distal_right_cover" parent="old_arm_distal_right_servo"
    size="0.041 0.007 0.039" xyz="0 -0.0165 0" material="old_arm_cover"/>
  <xacro:colored_box_link name="old_arm_wrist_marker" parent="old_arm_wrist_roll"
    size="0.002 0.026 0.005" xyz="0.009 0 0" material="old_arm_cover"/>
  <xacro:colored_box_link name="old_arm_wrist_marker_cross" parent="old_arm_wrist_roll"
    size="0.002 0.005 0.026" xyz="0.009 0 0" material="old_arm_cover"/>
  <joint name="old_arm_wrist_hub_mount" type="fixed">
    <parent link="old_arm_wrist_roll"/>
    <child link="old_arm_wrist_hub"/>
  </joint>
  <link name="old_arm_wrist_hub">
    <xacro:visual_cylinder radius="0.010" length="0.012"
      xyz="0.006 0 0" rpy="0 ${pi / 2} 0" material="old_arm_metal"/>
  </link>

  <joint name="old_arm_tool_joint" type="fixed">
    <parent link="old_arm_wrist_roll"/>
    <child link="old_arm_tool_frame"/>
    <origin xyz="$(arg tool_inline) 0 0"/>
  </joint>
  <link name="old_arm_tool_frame"/>
</robot>